<%= form_for(@article,:remote => true) do |f| %>
<div id="post_errors"></div>
<p><%= f.label :title%></p>
<%= f.text_field :title %>
<p><%= f.label :slug%></p>
<%= f.text_field :slug %>
<p><%= f.label :content %></p>
<%= f.text_area :content%>
<p><%= f.label :category %></p>
<%= f.collection_select  :category_ids, Category.excludes(:id => Category.first.id),:id,:name,{} %>
<p><%= f.submit %></p>
<% end %>

