<div id="userbar">

<% if user_signed_in? %>
 
  <span class="status"> <%= current_user.role.upcase%> </span>
  
  <div class="profile">
    <!-- <% if can? :create, Article %>
      <%= link_to image_tag("pen_alt_stroke.svg"),new_article_path %>
      <%= link_to image_tag("list.svg"),articles_path %>
    <% end %> !-->
    <% if can? :create, Article %>
      <%= link_to "Write an Article",new_article_path %>
      <%= link_to "Edit Articles",articles_path %>
    <% end %>
    
    <!-- <% if can? :manage, @users %>
      <%= link_to image_tag("cog.svg"), users_path %>
    <% end %> !-->
    <% if can? :manage, @users %>
      <%= link_to "Edit Users", users_path %>
    <% end %>
          
    <!-- <%= link_to image_tag("user.svg"), edit_user_registration_path %>
    <%= link_to image_tag("lock_stroke.svg"), destroy_user_session_path %> !-->

    <%= link_to "My Account", edit_user_registration_path %>
    <%= link_to "Log Out", destroy_user_session_path %>
  </div>


<% else %>
  
  <div class="profile">
    <%= link_to "Staff Login →", new_user_session_path %>
    <% end %>
  </div>

</div>
