<% if user_signed_in? %>

<div id="userbar">
 
  <span class="status"> <%= current_user.role.upcase%> &#9759; </span>
  
  <div class="profile">
    <% if can? :create, Article %>
      <%= link_to "Write an Article &#9998;",new_article_path %>
      <%= link_to "Edit Articles &#10004;",articles_path %>
    <% end %>
    
    <% if can? :manage, @users %>
      <%= link_to "Edit Users &#9996;", users_path %>
    <% end %>

    <%= link_to "My Account &#9786;", edit_user_registration_path %>
    <%= link_to "Log Out &#9167;", destroy_user_session_path %>
  </div>



</div>
<% end %>
