<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for?(:title) ? yield(:title) : "The Liberator" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <script type="text/javascript">jQuery.ajaxSetup({ beforeSend: function (xhr) { xhr.setRequestHeader("Accept", "text/javascript"); } });</script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>

  <body>
  
    <%= render :partial => "shared/profile" %>
    <%= yield(:edit_menu)%>
    
    <div id="container">
     
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "alert-message #{name}" %>
      <% end %>

      <%= render :partial => "shared/nav" %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    
	    <div class="profile">
	    	<%= link_to "Staff Login →", new_user_session_path %>
	    </div>
	
	    <footer> Copyright 2011 LBJ Liberator. </footer>
    
    </div>

  </body>

</html>
