<!DOCTYPE html>
<html>

  <head>
    <title><%= content_for?(:title) ? yield(:title) : "the Liberator" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <script type="text/javascript">jQuery.ajaxSetup({ beforeSend: function (xhr) { xhr.setRequestHeader("Accept", "text/javascript"); } });</script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    
    <link rel="stylesheet" type="text/css" href="//webputty.commondatastorage.googleapis.com/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRipgmoM.css" />
	<script type="text/javascript">(function(w,d){if(w.location!=w.parent.location||w.location.search.indexOf('__preview_css__')>-1){var t=d.createElement('script');t.type='text/javascript';t.async=true;t.src='http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRipgmoM';(d.body||d.documentElement).appendChild(t);}})(window,document);</script>
    
  </head>

  <body>
  
    <%= render :partial => "shared/profile" %>
    <%= yield(:edit_menu)%>
         
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :class => "alert-message #{name}" %>
	<% end %>
	
	<%= render :partial => "shared/nav" %>
	<%= yield %>
	
	<footer>
		<span>Copyright 2011, the LASA/LBJ Liberator.</span>
		<span class="profile"> <%= link_to "Staff Login →", new_user_session_path %> </span>
	</footer>
	    
  </body>

</html>
